body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: #1b242f;
  height: 40px;
  margin: 0 auto;
}
canvas {
  margin-bottom: 0;
  background-color: black;
}

ul {
  padding-top: 10px;
}

li {
  display: inline;
}
.me {
  min-height: 500px;
}

.projects {
  min-height: 500px;
  background-color: #f5f5f5;
}

.contact {
  min-height: 500px;
  background-color: #252934;
  color: white;
}
footer {
  display: grid;
  height: 100px;
  background-color: black;
  color: white;
}
li > a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

li > a:hover {
  color: red;
}
